/*.board{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.create-card{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-end;*/
/*    padding: 40px;*/
/*}*/

/*.input{*/
/*    display: block;*/
/*    padding: 30px;*/
/*}*/