*{
    box-sizing: border-box;

}

.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 10vw 100px 10vw;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row-create{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10vw 0 10vw;
}

.create-note{
    display: flex;
    flex-direction: column;
    width: 24vw;
}

.create-card{
    display: flex;
    flex-direction: column;
}

.input{
    display: flex;
    padding: 8px 24px 8px 6px;
    margin-bottom: 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.item{
    display: block;
    width: 24%;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #8f8fff;
    background-color: #f1f1f1;
}

.item:hover{
    background-color: #f8f8f8;
}

.create{
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #f1f1f1;
    background-color: #8f8fff;
    font-weight: bold;
}
.create:hover{
    background-color: #7e7efd;
}

#clear{
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #f1f1f1;
    background-color: #8f8fff;
    font-weight: bold;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.priority{
    display: block;
    padding: 5px 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #8f8fff;
    background-color: #f1f1f1;
    margin-top: 20px;
}

.priority:focus{
    background-color: #e75353;
    color: white;
    font-weight: 600;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 0 24px 16px 24px;
    border: 1px solid #ccc;
    width: 24vw;
    border-radius: 5px;
    overflow-wrap: break-word;
}

