.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0;
}
.row-create{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.create-note{
    display: flex;
    flex-direction: column;
}

.create-card{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.item{
    display: block;
    padding: 5px 5px;
    margin: 5px 0;
}

.create{
    display: block;
    width: 100%;
    height: 30px;
}

.clear{
    display: block;
    width: 100%;
    height: 30px;
    margin: 40px 0;
}

.priority{
    display: block;
    padding: 4px 8px;
    margin: 5px 0;
}

.priority:focus{
    background-color: #e75353;
    color: white;
    font-weight: 600;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}