<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app" class="board">
    <create-card @create="addCard"></create-card>

    <div class="column">
        <h2>To Do</h2>
        <note-card
                v-for="card in columns.todo"
                :key="card.id"
                :card="card"
                :disabled="todoLocked"
                @update="update">
        </note-card>
    </div>

    <div class="column">
        <h2>In Progress</h2>
        <note-card
                v-for="card in columns.progress"
                :key="card.id"
                :card="card"
                @update="update">
        </note-card>
    </div>

    <div class="column">
        <h2>Done</h2>
        <note-card
                v-for="card in columns.done"
                :key="card.id"
                :card="card"
                :disabled="true">
        </note-card>
        <button @click="clearDone" :disabled="!columns.done.length">
            Clear Done
        </button>
    </div>
</div>


<script defer src="js/vue.js"></script>
<script defer src="js/main.js"></script>
</body>
</html>