<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app" class="board">
    <div class="column">
        <h2>To Do</h2>
        <div class="card">
            <h3>{{ card.title }}</h3>
        </div>
        <ul>
            <li v-for="item in card.items">
            <input type="checkbox" v-model="item.done">
            {{ item.text}}</li>
        </ul>
    </div>

    <div class="column">
        <h2>In Progress</h2>
    </div>

    <div class="column">
        <h2>Done</h2>
    </div>
</div>

<script defer src="js/vue.js"></script>
<script defer src="js/main.js"></script>
</body>
</html>